# Virtual environment
.venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Raw datasets
data/raw/*
!data/raw/.gitkeep

# Trained models
models/*.pkl
models/*.joblib

# Logs
*.log

# Operating system
.DS_Store
Thumbs.db